<%= link_to 'New Article', new_article_path %>

<% @articles.each do |article| %>
  <div>
    <%= link_to article.title, article_path(article) %>
  </div>
  <div>
    <%= article.content %>
  </div>
<% end %>
